<h1>Burgers!</h1>

<h2>Burgers that are delicious and waiting to be eated!</h2>

<ul>
  {{#each burgers}}
    {{#unless this.devoured}}
      <li>
        {{this.id}}. {{this.burger_name}}

        <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="true">
          <button type="submit">EAT ME!</button>
        </form>
      </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Delicious burgers that have been eated!</h2>

<ul>
  {{#each burgers}}
    {{#if this.devoured}}
      <li>
        {{this.id}}. {{this.burger_name}}
      </li>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-update-form" action="burgers/create" method="POST">

  <div class="form-group">
    <label for="burger">Burger Name:</label>
    <input type="text" id="burger" name="burger_name">
  </div>

  <button type="submit">Add Burger</button>
</form>
